@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
  background-color: #E2AEFF
}
h1 {
  font-family: "Langar", serif;
  font-size: 40pt;
}
h2 {
  font-family: "Montserrat", fantasy;
  font-weight: 100;
  font-style: oblique
}
img {
  max-height: 200px
}
p {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  font-style: oblique
}